body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  margin-right: 2%;
  font-size: 150%; /* Tăng kích thước lên 150% */
}

input[type="text"],
input[type="password"] {
  font-size: 150%; /* Tăng kích thước lên 150% */
}

button {
  margin-top: 5%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 150%; /* Tăng kích thước lên 150% */
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 5%;
  font-size: 150%; /* Tăng kích thước lên 150% */
}
