body {
  font: 100%/125% 'Times New Roman', Times, serif;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0px;
  background-color: rgb(226, 233, 232);
}

/* Wrapper style */
#wrapper {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}

.container {
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto; 
}

label {
  margin-right: 2%;
  font-size: 150%; /* Tăng kích thước lên 150% */
}

input[type="number"]{
  font-size: 1.1em; /* Tăng kích thước font lên 1.1em */
  padding: 8px; /* Tăng khoảng cách lề bên trong */
}

select {
  font-size: 1.1em; /* Tăng kích thước font lên 1.1em */
  padding: 8px; /* Tăng khoảng cách lề bên trong */
  margin-left: 10px;
}

button {
  margin-top: 5%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 150%; /* Tăng kích thước lên 150% */
}

button:hover {
  background-color: #0056b3;
}

#result1 {
  margin-top: 5%;
  font-size: 150%; /* Tăng kích thước lên 150% */
}

#result2 {
  margin-top: 5%;
  font-size: 150%; /* Tăng kích thước lên 150% */
  margin-bottom: 5%;
}
